*{
	padding:0px;
	margin:0px;
	box-sizing: border-box;
}
body{
	font-family: 'poppins',sans-serif;
}
.navbarx ul li a{
	text-decoration: none;
	color:white;
}
.navbarx ul li a:hover{
		color:#2fdabd;

}
	
.navbarx{
		display:flex;
		align-items: center;
		padding:20px;
}
nav{
	flex:1;
	text-align: right;
}
nav ul{
	   display: inline-block;
	   list-style-type: none;
}
nav ul li{
		  display:inline-block;
		  margin-right: 20px;
		  }
.headerx{
		max-width: 1400px;
		margin:auto;
		padding-left:25px;
		padding-right: 25px;
}
.containerx {
				 margin-top:20px; 
				 background-color: black;
}		
.cartx .fa{
				color: #2fdabd;
}		  
.cartx .fa:hover{
	color:#ff523b;
}